bin/
bin/*
obj/
obj/*
.idea/
.idea/*
PixelPerfect.sln.DotSettings.user
deps/lib/dalamud
deps/lib/dalamud/
deps/lib/dalamud/*
PixelerPerfect/packages.lock.json
PixelPerfectLegacy/packages.lock.json
publish_dev.sh
